@import url('https://fonts.googleapis.com/css?family=Amiko|Titillium+Web');

body {
	background-color: #C6E2FF;
	background-image: url("../ANrena/_images/background.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
	font-family: 'Amiko', 'Titillium Web', sans-serif, arial;
}

a:link {
	color: #cc00ff;
    text-decoration: none;
}

a:visited {
	color: #cc00ff;
    text-decoration: none;
}

a:hover {
	color: #6600ff;
    text-decoration: none;
}

a:active {
	color: #6600ff;
    text-decoration: underline;
}

.pickImg {
    width:200px;
	margin-left: 30px;
	margin-top: 90px;
	box-shadow: 4px 4px 4px #000000;
	border-radius: 10px;
	border-width: 1px;
	border-color: #000000;
}
      
.hexBreak {
	width: 292px;
	background-image: url("../ANrena/_images/hexBreak.png");
	height: 40px;
}
#logo {
	margin-left: 20px;
}

#container {
	position: relative;
}

#DeckContainer {
	padding-left: 10px;
    display:inline-block;
    width:300px;
    vertical-align:top;
    font-size: small;
	background: rgba(175, 245, 235, 0.8);
    border-radius: 10px;
	min-height: 480px;
	max-height: 480px;
	overflow: auto;	
	box-shadow: 4px 4px 4px #000000;
	border: 1px solid rgba(39, 56, 76, 0.9);
}

#DeckContainer h2 {
	text-align: center;
}

#DeckHeader{
	text-align: center;
	list-style-type: none;
	padding-top: 4px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 3%;
	overflow: hidden;
}

#DeckHeader li {
	text-align: center;
    float: left;
	color: rgba(39, 56, 76, 0.9);
}

#DeckHeader li a {
	padding: 2px 6px 2px 6px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
	border-radius: 4px;
	background-repeat: no-repeat;
	
}

#DeckHeader li a:hover {
}

#DeckList {
	padding-left: 4px;
	padding-right: 4px;
}
	  
#Arena {
    display:inline-block;
	position: absolute;
    top: 90px;
}  

}

.allDone {
	border-radius: 10px;
	background: rgba(175, 245, 235, 0.8);
	padding: 10px;
	margin-left: 10px;
	display:inline-block;
	box-shadow: 4px 4px 4px #000000;
	border: 1px solid rgba(39, 56, 76, 0.9);
	width: 300px;
	position: absolute;
	top: 0px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #9fffcf;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(175, 245, 235, 0);
  border-radius: 10px;
}

.select-container {
    margin-left:10px;
    padding-left: 10px;
    padding-right: 10px;
    display:inline-block;
    width:620px;
    background: rgba(175, 245, 235, 0.8);
    border-radius: 10px;
    min-height: 480px;
    max-height: 480px;
    overflow: auto;	
    box-shadow: 4px 4px 4px #000000;
    border: 1px solid rgba(39, 56, 76, 0.9);
}

.select-container .select-box{
	margin-top: 8%;
    margin-right:20px;
    text-align:center;
	line-height: 120px;
    display:inline-block;
    width:150px;
    height:40px;
    color:black;
    text-decoration: none;
    font-size:1.2em;
    padding-top:160px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #000000;
    border-width: 1px;
    border-color: #000000;
}

.select-container a{
    margin-left: 30px;
}

#defaultIDpick {
	background-image: url("../ANrena/_images/useDefault.jpg");
	background-image: top left;
	background-size: cover;
}

#draftIDpick {
	background-image: url("../ANrena/_images/draftIDv2.jpg");
	background-image: top left;
	background-size: cover;
}

#draftDraftIDpick{
	background-image: url("../ANrena/_images/placeholder.jpg");
	background-image: top left;
	background-size: cover;
}

#defaultCorp {
	background-image: url("../ANrena/_images/draftCorp.jpg");
	background-image: top left;
	background-size: cover;
	margin-left: 96px;
}

#defaultRunner {
	background-image: url("../ANrena/_images/draftRunner.jpg");
	background-image: top left;
	background-size: cover;
	margin-left: 96px;
}

